.pics{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffeeff;
    position: relative;
    @media (max-width: 767px){
        position: initial;
    }
    #c67ab8a71{
        @media (max-width: 992px){
            position: absolute;
            right: 1%;
        }
        @media (max-width: 767px){
            position: initial;
        }
    }
    #c67ab8a72{
        position: absolute;
        top: 26%;
        right: 1%;
        @media (max-width: 767px){
            position: initial;
        }
    }
    #a7f00cd61{
        position: absolute;
        right: 1%;
        @media (max-width: 767px){
            position: initial;
        }
    }
    #a7f00cd62{
        position: absolute;
        top: 40%;
        right: 1%;
        @media (max-width: 767px){
            position: initial;
        }
    }
    #a7f00cd63{
        position: absolute;
        right: 1%;
        top: 63%;
        @media (max-width: 767px){
            position: initial;
        }
    }
    #a979876d2{
        margin-top: -10%;
        @media (max-width: 767px){
            margin-top: 7px;
        }
    }
    #a6d188c50{
        width: 100%;
    }
    &__img{
        height: fit-content;
        margin: 7px 15px;
        box-shadow: 5px -13px 12px 2px #ffe9ff;
        width: 42%;
        @media (max-width: 767px){
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
}
.corp{
    margin-top: 80px;
    padding: 20px 50px;
    @media (max-width: 767px){
        padding: 20px;
    }
    &__contenue{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color: $color-principal;
        margin-bottom: 10px;
        @media (max-width: 767px){
            flex-direction: column;
            align-items: flex-start;
        }
        &__gauche{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            h1{
                font-weight: 500;
                margin: auto;
            }
            p{
                margin: 0 0 10px 0;
            }
        }
        &__droit{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-end;
            @media (max-width: 767px){
                flex-direction: row-reverse;
                align-items: center;
                width: 100%;
            }
            &__image{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                width: 99%;
                @media (max-width: 767px){
                    width: 100%;
                    justify-content: flex-end
                }
                img{
                    border-radius: 50px;
                    width: 64px;
                    height: 64px;
                }
                p{
                    text-align: right;
                    margin-right: 10px;
                    width: 93px;
                }
            }
        }
    }
    &__collapse{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $color-principal;
            word-wrap: break-word;
        }
        span{
            font-weight: 900;
        }
        @media (max-width: 767px){
            flex-direction: column;
        }
    }
}