header{
    .nav{
        padding: 6px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        background-color: white;
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        justify-content: space-between;
        box-shadow: rgba(120, 120, 129, 0.1019607843) 0px 3px 3px 3px;
        &__background{
            color: white;
            padding: 6px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            background-color: $color-principal;
            position: fixed;
            z-index: 100;
            width: 100%;
            top: 0;
            justify-content: space-between;
            box-shadow: rgba(120, 120, 129, 0.1019607843) 0px 3px 3px 3px;
            nav{
                a{
                    color: white;
                }
            }
        }
    }
    img{
        width: 45px;
        background-color: lightcyan;
        padding: 4px;
        margin-left: 15px;
        border-radius: 200px;
        @media (max-width: 767px){
            margin-left: 4px;
            width: 25px;
        }
    }
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        right: 15px;
        align-items: center;
        @media (max-width: 767px){
            right: 0px;
            margin-right: 3px;
        }
        .nav__acc{
            display: flex;
            gap: 45px;
            @media (max-width: 767px){
                gap: 0px;
            }
        }
        .nav__projet{
            display: flex;
            gap: 45px;
            position: absolute;
            @media (max-width: 767px){
                gap: 10px;
                position: inherit;
            }
        }
        a{
            color: $color-principal;
            text-decoration: none;
            margin: 0 5px;
            font-weight: bold;
            @media (max-width: 767px){
                margin: 0 4px;
            }
        }
        .active{
            display: none;
        }
        
    }
}